
<html>
<head>
  <title>Cinema Ironhack</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <div class="container">
    {{!-- <h1 class="title">{{title}}</h1> --}}
    <h1 class="title">Cinema <br>Ironhack</h1>
    {{!-- <p>Welcome to <span class="title">{{title}}</span></p> --}}
    <a href="/movies" class="button">Check the movies!</a>
  </div>
</body>
</html>